@mixin transform($args...) {
  -webkit-transform: $args;
      -ms-transform: $args;
          transform: $args;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}